{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFBaiano - Blog</title>
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}" sizes="196x196" />
    <link rel="stylesheet" type="text/css" href="{% static 'uikit/dist/css/uikit.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>

</head>

<body>
    {% block content %}
    {% endblock content %}
    <!-- Sticks until the bottom of its parent container -->
    <div>
        <div uk-sticky="bottom: true">
        </div>
    </div>
    <div uk-sticky="bottom: #my-id">
    </div>
    <div id="my-id">
    </div>
    <script>
        function notify(type, message) {
            // página totalmente carregada (DOM, imagens etc.)
            switch (type) {
                case 'success':
                    UIkit.notification({
                        message: message,
                        status: 'primary',
                        pos: 'top',
                        timeout: 5000
                    });
                    break
                case 'error':
                    UIkit.notification({
                        message: message,
                        status: 'primary',
                        pos: 'top',
                        timeout: 5000
                    });

            }

        };

    </script>
    <script async defer src="{% static 'uikit/dist/js/uikit.min.js' %}"></script>
    <script async defer src="{% static 'uikit/dist/js/uikit-icons.min.js' %}"></script>
    <script defer async type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script defer async type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</body>

</html>