{% extends 'base.html'%}
{% load classes %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="uk-cover-container" style="height: 200px;">
    <img src="https://www.ifbaiano.edu.br/unidades/guanambi/files/2019/08/Formula-Drone-2.jpg"
        alt="" uk-cover>
</div>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h1>Daniel Xerox, o Negãozinho</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
            <h2>Subheading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.</p>
        </div>
        <div class="uk-width-medium-1-2 uk-text-center">
            <img width="660" height="400"
                src="https://www.ifbaiano.edu.br/unidades/guanambi/files/2019/08/Formula-Drone-2.jpg">
        </div>
    </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
        <div class="uk-panel uk-panel-box uk-text-center">
            <p><strong>Entre em Contato.</strong>Não sei o que colocar aqui. <a
                    class="uk-button uk-button-primary uk-margin-left" href="#">Button</a></p>
        </div>
    </div>
</div>
</div>
{% endblock content %}