{% extends 'base.html'%}
{% load classes %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<div class="uk-cover-container" style="height: 200px;">
    <img src="https://www.ifbaiano.edu.br/unidades/guanambi/files/2019/08/Formula-Drone-2.jpg"
        alt="" uk-cover>
</div>
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-2">
            <h1>Daniel Víttor Gonçalves Costa</h1>
            <p>Visão tropa, o meu nome é Daniel Víttor, conhecido também como  Dan, tenho 18 anos e faço parte da turma que mudou a minha vida o 3BII. Vim aqui falar um pouquinho da minha história
                aqui no instituto. Bem, eu sempre quis fazer parte de um instituto federal, por isso, sempre me esforcei muito pela vaga.
                É claro que no início nem tudo são flores, houveram inúmremos desafios como, me adaptar ao novo clima, me adaptar a novas culturas,
                novas pessoas e é claro a uma nova dieta. Sabe-se que escola é conhecida estudalmente pela sua excelência no ensino, por isso, me senti na
                responsabilidade de além fazer parte desse meio, resolvi  passar também a visão do que acontece aqui dentro. O IF é um mundo a parte, onde todas 
                as suas experiências são compartilhadas com outras pessoas, sonhos, amores, tristezas,respostas e tudo acontece lá, e é por isso que caros companheiros(a) de sofrimento e alegrias ou futuros 
                companheiros(a) (essa foi para os calouros do meu coração), vivam, sobrevivam e aproveitem cada oportunidade que esse campus te dará.

            </p>
        </div>
        <div class="uk-width-medium-1-2 uk-text-center">
            <img width="660" height="400"
                src="https://www.ifbaiano.edu.br/unidades/guanambi/files/2019/08/Formula-Drone-2.jpg">
        </div>
    </div>
</div>

<hr class="uk-grid-divider">

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-1">
    </div>
</div>
</div>
{% endblock content %}