{% extends 'base.html'%}
{% load classes %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}


<div class="uk-container uk-container-small">
    <h1 class="uk-text-center">Formulário</h1>
    <form class="uk-grid-medium" method="POST" uk-grid method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="uk-width-1-1s">
            <label class="uk-form-label" for="form-horizontal-text">Título</label>
            {{form.title}}
        </div>
        <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-horizontal-text">Conteúdo</label>
            {{form.text}}
        </div>
        <div class="uk-width-1-1@s">
            <label class="uk-form-label" for="form-horizontal-text">Imagem de Destaque</label>
            
            {{form.img}}
        </div>
        <div class="uk-width-1-1@s">
            <button class="uk-button uk-flex-center uk-button-primary uk-width-1-1 uk-margin-small-bottom"
                type="submit">Enviar</button>
        </div>
    </form>
</div>

{% endblock content %}