{% extends 'base.html'%}

{% block content %}
{% include 'navbar.html' %}
<div class="uk-container">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://source.unsplash.com/random" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Bem-Vindo Chefe</h3>
                <p>Nome: {{profile.fist_name}}</p>
                <p>Email:{{profile.email}} </p>
                <p>Redefinir Senha: </p>
            </div>
            <div class="uk-card-body">

                <a href="{% url 'accounts:profile' %}">
                    <button class="uk-button">
                        Editar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}