{% extends 'base.html'%}
{% load classes %}
{% block content %}
{% include 'navbar.html' %}    
<style>
    p{text-align: justify !important;}
    img {margin-top: 7%;
    text-align: justify !important;
    justify-content: justify !important;}
</style>
<div class="uk-container uk-container-small uk-text-justify">
    <h1>{{course.title | safe}}</h1>
    <article class="uk-article uk-text-justify">

        <p class="uk-text-lead uk-text-justify">
            {{course.text | safe}}
        </p>
    </article>
</div>

{% endblock %}